.button {
  font: inherit;
  border: none;
  color: black;
  background: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-family: 'Abril Fatface', cursive;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:disabled {
  background: #ccc;
  color: #333;
  cursor: not-allowed;
  border: white;
  box-shadow: none;
}

.button:disabled:hover,
.button:disabled:active {
  background: #ccc;
  color: #888888;
  border: white;
}

.button:hover,
.button:active {
  background: #315b96;
  color: #fff;
}

.button--flat {
  border: none;
}

.button--flat:hover,
.button--flat:active {
  background: rgba(164, 246, 228, 0.3);
  color: black;
}

.button--raised {
  background: #18264f;
  color: #fff;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  border-radius: 5px; 
}

.button--raised:hover,
.button--raised:active {
  background: #293462;
}

.button--accent:hover,
.button--accent:active {
  background: #18264f;;
  color: #fff;
}

.button--flat.button--accent:hover,
.button--flat.button--accent:active {
  background: #18264f;;
  color: #fff;
}

.button.button--accent.button--raised {
  background: #18264f;;
  color: white;
}

.button--raised.button--accent:hover,
.button--raised.button--accent:active {
  background: #18264f;;
}


.button.button--success.button--raised {
  background: #18264f;
  color: white;
}

.button--raised.button--success:hover,
.button--raised.button--success:active {
  background: #18264f;;
}