.container {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    /* grid-auto-rows: 100px auto;  */
    grid-template-areas: 'header header header header'
    'body body body body';
    padding: 10px 25px 10px;
    margin-left: 45px; 
}

.body {
    grid-area: body;
}

.header {
    grid-area: header;
}

.PDF {
    display: grid;
    grid-template-columns: 20% 70%;
    column-gap: 10%;
    grid-template-rows: 500px;
    grid-template-areas: 'details cv';
    padding: 5px 20px;
}

.details {
    grid-area: details;
    text-align: center;
    margin-top: 30px;
}

.cv {
    grid-area: cv;
    padding: 20px 0;
    border: 1px solid #AAA;
}