.mt-3, .my-3 {
    margin-top: -1rem !important;
}

.c-width {
    width: 107%;
}
.form-row {
    margin-top: 15px;
}

@media(max-width:1200px) {
    .respo{
        /* background-color: black !important; */
        /* width: 540px; */
    }
}