.navitemcolor {
  color: white !important;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 20px;
}
.navbar {
  background-color: #484848;
  z-index: 1000;
  width: 100%;
  margin: auto;
  padding-left: 60px;
  font-family: 'Graphik', sans-serif;
}

.logo .linkLogo {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.logo .linkLogo:hover {
  color: white;
}

.logo {
  color: #fff;
  font-size: 30px;
  width: 60px;
  height: 60px;
  border: none;
  padding: 0;
  font-weight: 500;
  line-height: 1.7;
  margin-top: 5px;
}

.subLogo {
  display: inline;
  padding: 5px 0 0;
}
.navbar-brand {
  padding-left: 20px; 
  display: inline;
}

.navbar-collapse {
  margin-right: 50px;
}

html {
  scroll-behavior: smooth;
}

a:hover {
  text-decoration: none !important;
  color: rgb(221, 221, 221) !important;
}
