.navitemcolor {
  color: white !important;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 10px;
}
.navbar {
  background-color: #484848;
  z-index: 1000;
  width: 100%;
  margin: auto;
  font-family: 'Graphik', sans-serif;
}

.logo {
  color: #fff;
  font-size: 30px;
  border: none;
  padding: 0;
  font-weight: 500;
  line-height: 1.7;
}

.navbar-brand {
  padding-left: 2%;
  padding-top: 0;
  padding-bottom: 0; 
  margin-right: 0; 
  font-size: 0;
}

.navbar-collapse {
  margin-right: 50px;
}

html {
  scroll-behavior: smooth;
}

a:hover {
  text-decoration: none !important;
  color: rgb(221, 221, 221) !important;
}
