.navitemcolor {
  color: white !important;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 20px;
}

.navbar {
  background-color: #bccbce !important;
  z-index: 1000;
  width: 100%;
  margin: auto;
  padding: 10px 40px;
}

.logoJobs {
  position: absolute;
  width: 225px;
  height: 30px;
  border: none;
  top: 20px;
  left: 75px;
  z-index: 1000000;
  background-color: #bccbce;
  /* border-radius: 20px; */
}

.logo .linkLogo {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  /* margin: auto !important; */
}

.navstyle a:hover {
  text-decoration: none !important;
  color: #ffc107 !important;
}

@media (max-width: 500px) {
  .logoJobs {
    left: 20px;
  } 
}