.gridCoverContainer {
    display: grid;
    padding: 110px 42px 0 43px;
    padding: 45px 80px 0 80px;
    background: rgb(69,93,111);
    background: linear-gradient(90deg, rgba(69,93,111,1) 0%, rgba(69,93,111,1) 35%, rgba(0,212,255,1) 100%);
    grid-template-columns: 1.fr 2fr;
    grid-template-areas: "left right";
    grid-template-rows: 30vh;
    grid-column-gap: 90px;
    grid-column-gap: 75px;
    font-family: Graphik, sans-serif;
    margin-bottom: 20px;
}

.gridLeftInfo {
    grid-area: left;
}

.gridLeftInfo h1 {
    color: white;
    margin-bottom: 8px;
    font-size: 60px;
    line-height: 120%;
}

.gridLeftInfo p {
    color: white;
    margin-bottom: 16px;
    padding-bottom: 50px;
    border-radius: 20px;
    font-size: 24px;
    line-height: 36px;
}


.gridRightInfo {
    grid-area: right;
    padding-top: 80px;
}

.gridRightInfo p {
    color: white;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
    .gridCoverContainer {
        padding-top: 60px;
    }

    .gridLeftInfo h1 {
        font-size: 42px;
    }

    .gridLeftInfo p {
        font-size: 16px;
    }

    .gridRightInfo p {
        font-size: 14px;
    }

  }

  @media screen and (max-width: 768px) {
    .gridCoverContainer {
        padding-top: 45px;
        grid-template-columns: 1fr;
        grid-template-areas: "left";
    }
    .gridRightInfo {
        display: none;
    }
  }

  @media screen and (max-width: 600px) {
    .gridLeftInfo h1 {
        font-size: 34px;
    }
  }